@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fira+Code&family=Fredoka+One&family=Inter&family=Roboto&family=Volkhov&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}



a:visited{
  color: inherit;
}

:root{
  --background: #fcfcfc;
  --foreground: #11999E;
  --heading: #30E3CA;
  --font:#40514E;
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary:"Source code pro", monospace;
  --p-fs: 1.3rem;
  --nav-fs: 1.6rem;
  --flex-fs: 3rem;
  --skill-fs: 1.3rem;
}

button{
  display: none;
}

body{
 background-color: var(--background);

}



p{
  font-family: var(--ff-primary);
  font-size: var(--p-fs);
  line-height: 1.6;
}


nav{
  height: 100%;
}


.sections{
  font-size: 3rem;
}

.section-first{
  text-decoration: underline solid white;
}

.section-second{
  text-decoration: underline solid black;
}



.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75px;
  padding: 1em;
  max-height: fit-content;
  background-color: black;
  color: var(--heading);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin:5px;
  background-color: white;
}
.nav-item{
  flex-direction: row;
  padding: 0 15px 0 15px;
  font-size: var(--nav-fs);
  
}

.nav-item li{
  display: inline;
  margin: 0 15px 0 15px;
}

.drop-menu{
  visibility: visible;
}

.flex-container{
    
    
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.flex-item{
  
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 80px;
  flex-grow: 1;
  text-align: center;
}

.flex-heading{
 
  margin-bottom: 100px;
}

.flex-p{
  padding: 2.5% 5%;
}

.odd-item{
  background-color: black;
  color: white;
  padding: 100px 0;

}

.even-item{
  background-color: white;
  padding: 100px 0;
}

.intro-font{
  padding-bottom: 0;
  margin-top: 100px;
}

.intro{
  font-weight: 400;
  font-size:var(--flex-fs);
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: center;
}

.skill-list{

  display: grid;
  margin-top:  10px;
  font-size: var(--skill-fs);
  font-family: var(--ff-primary);
  color: #515359;
  font-weight: 800;
  justify-content: center;
  
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 150px;
  width: fit-content;
  row-gap: 50px;
}

.grid-image{
  display: grid;
  grid-template-columns: 60px;
  justify-content: center;
  width: 220px;
  border: 5px black solid;

}

.grid-image p{
  text-align: center;
}

.grid-image-child{
  height: 50px;
}

.email-link{
  color: inherit;
  border: 2px solid black;
  margin-top: 5%;
  padding:1rem;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  padding : 5% 0;
}

.deployment-links{
  text-align: center;
}

@media screen and (max-width:900px){

  .nav-container{
    justify-content: none;
  }

  
.grid-container{
  
  grid-template-columns: auto  auto;
  column-gap: 100px;
  row-gap: 50px;
}
}

@media(max-width:810px){
  .hamburger{
    display: block;
  }

  .nav-menu{
    position: fixed;
    display: flex;
    left:-100%;
    top: 90px;
    background-color: black;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }

  .nav-menu li{
    margin:10px
  }

  .active{
    left:0;
  }
}

@media screen and (max-width:690px) {
  .grid-container{
  
  grid-template-columns: auto  ;
  
  row-gap: 50px;
}
}

@media screen and (max-width:400px) {

:root{

  --p-fs: 1rem;
  --nav-fs: 1.3rem;
  --flex-fs: 2rem;
  --skill-fs: 1rem;
}

  .nav-container{
  flex-direction: column;
  position: absolute;
}



.nav-item{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav-item ul{
  display: flex;
  flex-direction: column;
  
  gap: 5px;
}
  
.grid-container{
  
  grid-template-columns: auto  ;
  
  row-gap: 50px;
}
}